$pri-color: rgb(64, 216, 64);

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-family: 'poppins', sans-serif;
  font-size: 16px;

  @media screen and (max-width: 620px) {
    font-size: 14px;
  }

  scroll-behavior: smooth;
}

.app {
  height: 100%;
  text-align: center;

  // BOOKS

  .books {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;

    .book {
      position: relative;
      padding: 1.5rem 1rem;
      border: 1px solid lightgray;
      border-radius: 0.5rem;
      flex: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 200px;

      line-height: 1.2;

      .isPremium {
        position: absolute;
        top: 0.75rem;
        left: 0.65rem;
        filter: grayscale(0.365);
        font-size: 0.8rem;
      }

      img {
        width: 100%;
        max-width: 150px;
        filter: grayscale(0);
        border-radius: 0.25rem;
        max-height: 180px;
        object-fit: cover;
        background-color: antiquewhite;
      }

      h3 {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        // font-weight: 500;
        color: #333;
      }

      p {
        font-size: 0.8rem;
        text-align: left;
        margin-bottom: 1rem;
      }

      button {
        width: 100%;

        &.deleteBtn {
          background-color: rgb(199, 14, 14);
          color: #f4f4f4;
        }

        &.updateBtn {
          background-color: rgb(193, 241, 179);
          color: #333;
        }
      }

      .buttons {
        display: flex;
        width: 100%;
        gap: 0.5rem;

        button {
          flex-grow: 1;
        }

        span {
          height: 2.25rem;
          border-radius: 0.35rem;
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid lightgray;
          cursor: pointer;
        }
      }
    }
  }

  // CONTAINER

  .container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }

  // LOGO

  .logo {
    color: rgb(125, 75, 206);
    font-weight: 700;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 0.9;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    span {
      letter-spacing: -0.1px;

      &::first-letter {
        color: red;
      }

      &:first-child {
        letter-spacing: 0.5px;
      }
      &:last-child {
        letter-spacing: 3px;
        line-height: 1.05;
      }
    }
  }

  // HEADER

  header {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

    a {
      gap: 0.5rem;
      display: flex;
    }

    .container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    .top-header {
      padding: 1rem 5%;
      height: 4rem;
    }

    .search-box {
      background-color: #fff;
      border-radius: 0.5rem;
      border: 2px solid transparent;

      &:hover,
      &:focus-within {
        border-color: lightgray;

        button {
          background-color: lightgray;
        }
      }

      input {
        background-color: transparent;
        border: none;
        padding: 0.35rem 1rem;
        outline: none;
      }

      button {
        background-color: transparent;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9rem;
      width: 100%;
      padding: 1rem 5%;
      background-color: #fff;
      box-shadow: 0 3px 5px rgba(51, 51, 51, 0.15);

      > div {
        gap: 2rem;
        display: flex;
      }

      a {
        text-decoration: none;
        font-weight: 600;
        color: rgb(58, 57, 57);
      }
    }

    .user {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-direction: row-reverse;
      padding-left: 1rem;
      border-left: 1px solid lightgray;
      color: rgb(4, 154, 195);
    }

    .store {
      font-size: 1.5rem;
      position: relative;

      span {
        position: absolute;
        top: -0.2rem;
        right: -0.3rem;
        font-size: 0.9rem;
        background-color: #fff;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
      }
    }

    .avatar {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      border: 1px solid lightgray;
      background-color: #fff;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &.mobile {
      display: none;

      a {
        flex-direction: column;
        gap: 0.1rem;
      }

      nav {
        > div {
          &:last-child {
            gap: 1rem;
          }
        }
      }

      .user {
        flex-direction: row-reverse;
        gap: 0.5rem;

        .name {
          display: none;
        }

        .avatar {
          height: 1.7rem;
          width: 1.75rem;
        }
      }

      .search-box {
        padding: 0.3rem;
      }

      @media screen and (max-width: 700px) {
        display: flex;
      }
    }

    &.desktop {
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  // MAIN

  main {
    padding: 1rem 5%;
    min-height: 100vh;
  }

  // FOOTER

  footer {
    margin-top: 6rem;
    padding: 2rem 5%;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  button {
    border: 0;
    outline: 0;
    padding: 0.5rem 1rem;
    font-size: 0.965rem;
    border-radius: 0.25rem;
    font-weight: 600;

    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 3rem;

    background-color: rgb(246, 231, 231);
    width: 100%;
    padding: 2rem 2rem;
    max-width: 300px;
    border-radius: 0.25rem;

    .input-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 0.25rem;

      label {
        font-size: 0.8rem;
        font-weight: bold;
        color: #333;
      }
    }

    input,
    select {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      max-width: 100%;
      border: none;
      border-bottom: 1px solid gray;
    }

    button {
      width: 100%;
      background-color: $pri-color;
      border: 1px solid transparent;
      margin-top: 0.75rem;

      &:hover {
        background-color: transparent;
        border-color: $pri-color;
      }
    }

    .error-class {
      font-size: 0.8rem;
      color: red;
      text-align: center;
    }

    .info-class {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  // ERRORPAGE
  .errorPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 2rem;
    }

    button {
      margin-top: 3rem;
    }
  }

  // BUTTON CLASS STATE
  .btn-danger {
    background-color: rgb(199, 14, 14);
    color: #f4f4f4;
  }

  .btn-success {
    background-color: rgb(193, 241, 179);
    color: #333;
  }
}

// IMPORT COMPONENTS

@import './styles/components/Index';

// IMPORT PAGES

@import './styles/pages/Index';
